<div class="samples">
    <div class="card" style="width: 18rem; ">
        <img class="card-img-top" src="assets/images/kerala.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kerala Tourism Website</h5>
          <p class="card-text">This Website helps you to explore Kerala's various specialities and 
            understand what makes Kerala a paradise for tourism.</p>
          <a href="https://jeenacd.github.io/backup/" class="btn btn-primary">Go to Website</a>
        </div>
      </div>
</div>
