<header>
    <nav class="navbar navbar-expand-lg bg-dark" style="color: white;">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="">Jeena's Portfolio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
              <li class="nav-item ">
                <a class="nav-link active"  routerLink="about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="samples">Samples</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  active" routerLink="contact">Contact</a>
              </li>
            </ul>
            </div>
        </div>
      </nav>

      
</header>
