<div class="footer-dark" style="height: 190px;">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a routerLink="section2">Web Design</a></li>
                        <li><a routerLink="section2">Web Hoisting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Links</h3>
                    <ul>
                        <li><a routerLink="about">About</a></li>
                        <li><a routerLink="contact">Contact</a></li>
                    </ul>
                </div>
                
                <div class="footer">
                    <i class="fa-brands fa-facebook-square"></i>
                    <i class="fa-brands fa-twitter-square"></i>
                    <i class="fa-brands fa-google-plus-square"></i>
                </div>
            </div>
            <p class="copyright">Jeena's Portfolio © 2022</p>
        </div>
    </footer>
</div>

