<div style="background-image: url('assets/images/1.jpg'); width: 100%; height:550px; background-size: cover;" >
    <div class="profile">
        <!-- <img class="oval" src="assets/images/profile.jpg" width="175 height=175" alt="profile pic" style="opacity: 0.8;" > -->
        <h4>JEENA C D</h4>
        <h6>Mean Stack Developer</h6><br>
        <button>Contact me</button>
        <button>Hire Me</button>
        <!-- <i class="fa-brands fa-facebook-square"></i>
        <i class="fa-brands fa-twitter-square"></i>
        <i class="fa-brands fa-google-plus-square"></i> -->
    </div> 
    <div class="quotes">
        <p><i><br> "I design and develop experiences<br> that make people's live simple...."</i></p>
    </div>
</div  >
